{% extends 'base.html' %}
{% block title %}
    searchandcheck
{% endblock %}
{% block action_url %}
    {% url 'testdatas:search_and_check_id' searchandcheck.id %}
{% endblock %}
{% block box_h1_title %}
    添加数据
{% endblock %}
{% block table_data %}
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <label>测试项目:</label>
            </td>
            <td>
                <input id="test_project" name="test_project" type="text" value="{{ searchandcheckform.test_project.value }}"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>测试模块:</label>
            </td>
            <td>
                <input id="test_module" name="test_module" type="text" value="{{ searchandcheckform.test_module.value }}"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>测试页面:</label>
            </td>
            <td>
                <input id="test_page" name="test_page" type="text" value="{{ searchandcheckform.test_page.value }}"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>测试内容的名称:</label>
            </td>
            <td>
                <input id="test_case_title" name="test_case_title" type="text"
                       value="{{ searchandcheckform.test_case_title.value }}"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>是否运行:</label>
            </td>
            <td>
                <input type="radio" id="is_run_case" name="is_run_case"  value=1 {% if searchandcheckform.is_run_case.value == 1 %} checked="checked"{% endif %}>运行
                <input type="radio" id="is_run_case" name="is_run_case"  value=0 {% if searchandcheckform.is_run_case.value  == 0 %} checked="checked"{% endif %}>不运行
            </td>
        </tr>

        <tr>
            <td>
                <label>查询按钮查找风格:</label>
            </td>
            <td>
                <input id="search_ele_find" name="search_ele_find"
                       type="text" value="{{ searchandcheckform.search_ele_find.value }}"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>查询按钮查找风格的确切值:</label>
            </td>
            <td>
                <input id="search_ele_find_value" name="search_ele_find_value"
                       type="text" value="{{ searchandcheckform.search_ele_find_value.value }}"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>是否查询到数据:</label>
            </td>
            <td>
                <input type="radio" id="is_with_date" name="is_with_date"  value=1 {% if searchandcheckform.is_with_date.value == 1 %} checked="checked"{% endif %}>查询到数据
                <input type="radio" id="is_with_date" name="is_with_date"  value=0 {% if searchandcheckform.is_with_date.value == 0 %} checked="checked"{% endif %}>未查询到数据
            </td>
        </tr>

        <tr>
            <td>
                <label>结果表格查找风格:</label>
            </td>
            <td>
                <input id="result_table_ele_find" name="result_table_ele_find"
                       type="text" value="{{ searchandcheckform.result_table_ele_find.value }}"/>
            </td>

        </tr>

        <tr>
            <td>
                <label>结果表格查找风格的确切值:</label>
            </td>
            <td>
                <input id="result_table_ele_find_value" name="result_table_ele_find_value"
                       type="text" value="{{ searchandcheckform.result_table_ele_find_value.value }}"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>用例循环次数:</label>
            </td>
            <td>
                <input id="case_counts" name="case_counts" type="text" value="{{ searchandcheckform.case_counts.value }}"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>依赖的点击场景的用例:</label>
            </td>
            <td>
                <select id="depend_click_case" name="depend_click_case">
                    <option value=""
                            {% if searchandcheckform.depend_click_case.value == None %}
                                selected="selected"
                            {% endif %}>
                            ---请选择
                    </option>
                    {%for cab in clickandback_all%}
                        <option
                                value={{cab.id}}
                                        {% if cab.id == searchandcheckform.depend_click_case.value%}
                                            selected="selected"
                                        {% endif %}>
                            [{{ cab.test_project }}]-[{{ cab.test_module }}]-[{{ cab.test_page }}]_{{cab.test_case_title }}]
                        </option>
                    {%endfor%}

                </select>

            </td>

        </tr>

    </table>
{% endblock %}
{% block box2_a %}
    <a href='{{ django_server_yuming }}/testdatas/searchandcheck/'>返回数据列表页</a>
{% endblock %}