{% extends 'base.html' %}
{% block title %}
    recriminatdataorder
{% endblock %}
{% block action_url %}
    {% url 'shucaiyidate:recriminat_data_order_id' recriminatdataorder.id %}
{% endblock %}
{% block box_h1_title %}
    添加数据
{% endblock %}
{% block table_data %}
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <label>依赖的测试配置:</label>
            </td>
            <td>
                <select id="xieyitestcase" name="xieyitestcase">
                    <option value=""
                            {% if recriminatdataorder.xieyitestcase_id == None %}
                                selected="selected"
                            {% endif %}>
                            ---请选择
                    </option>
                    {%for cab in xieyitestcase_all%}
                        <option
                                value={{cab.id}}
                                        {% if cab.id == recriminatdataorder.xieyitestcase_id %}
                                            selected="selected"
                                        {% endif %}>
                            [{{ cab.test_project }}]-[{{ cab.test_module }}]-[{{ cab.test_page }}]_{{cab.test_case_title }}]
                        </option>
                    {%endfor%}
                </select>
            </td>
        </tr>
    

        <tr>
            <td>
                <label>发送指令前等待时间（单位秒）:</label>
            </td>
            <td>
                <input id="send_wait_time" name="send_wait_time" type="text" value="{{ recriminatdataorder.send_wait_time|default:"" }}"/>
            </td>
        </tr>

        <tr>
            <td>
                <label>反控指令内容:</label>
            </td>
            <td>
                <input id="com_send_date" name="com_send_date" type="text" value="{{ recriminatdataorder.com_send_date|default:"" }}"/>
            </td>
        </tr>
    

        <tr>
            <td>
                <label>反控响应内容:</label>
            </td>
            <td>
                <input id="com_expect_date" name="com_expect_date" type="text" value="{{ recriminatdataorder.com_expect_date|default:"" }}"/>
            </td>
        </tr>
    
    </table>
{% endblock %}
{% block box2_a %}
    <a href='{{ django_server_yuming }}/shucaiyidate/recriminatdataorder/'>返回数据列表页</a>
{% endblock %}